<a href="https://colab.research.google.com/github/vicpb/nlp-1-introd-analise-sentimento-alura/blob/main/classificar_textos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

resenha = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/imdb-reviews-pt-br.csv")
resenha.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [2]:
resenha

          id  ... sentiment
0          1  ...       neg
1          2  ...       neg
2          3  ...       neg
3          4  ...       neg
4          5  ...       neg
...      ...  ...       ...
49454  49456  ...       pos
49455  49457  ...       pos
49456  49458  ...       pos
49457  49459  ...       pos
49458  49460  ...       pos

[49459 rows x 4 columns]

In [3]:
from sklearn.model_selection import train_test_split

treino, teste, classe_treino, classe_teste = train_test_split(resenha.text_pt, resenha.sentiment, random_state = 42)

In [4]:
treino

1348     Embora o filme tenha sido apenas assim, o clos...
27466    Este é provavelmente um dos piores filmes que ...
29998    De vez em quando, um filme irá varrer ao seu r...
48186    Este é um conto completamente diabólico de quã...
26473    Lenta, chata, extremamente repetitiva. Não adm...
                               ...
11284    Naach teria ganhado um Razzie para o Pior Film...
44732    Apenas assisti a esse filme em DVD e achei a a...
38158    Melhor show desde Seinfeld. Ela é realmente mu...
860      Eu pareço estar discordando com muitas pessoas...
15795    Minhas duas filhas de 11 e 13 anos e eu tive s...
Name: text_pt, Length: 37094, dtype: object

In [5]:
teste

12532    Isso era incomum: um filme moderno que era ult...
35445    Alguns dos meus velhos amigos sugeriram que eu...
20279    Que prazer. Isto é realmente uma paródia. Some...
2969     Há cerca de dez minutos a meio da Strangeland,...
45161    Otelo, a clássica história de Shakespearen sob...
                               ...
16421    Crescendo como filho do cinema, uma das trilog...
39861    Este filme é o melhor filme de todos os tempos...
309      "Electra Glide in Blue" é um movimento lento e...
20638    Eu amo esse filme ! Eu acho que já vi 5 vezes ...
38935    Eu vi alguns filmes sobre transtornos alimenta...
Name: text_pt, Length: 12365, dtype: object

In [6]:
classe_treino

1348     neg
27466    neg
29998    neg
48186    pos
26473    neg
        ...
11284    neg
44732    pos
38158    pos
860      neg
15795    pos
Name: sentiment, Length: 37094, dtype: object

In [7]:
classe_teste

12532    pos
35445    neg
20279    pos
2969     neg
45161    pos
        ...
16421    pos
39861    pos
309      neg
20638    pos
38935    pos
Name: sentiment, Length: 12365, dtype: object

In [8]:
from sklearn.linear_model import LogisticRegression

# modelo primitivo de regressao logistica
# aqui vai dar erro mesmo, está ok

regressao_logistica = LogisticRegression()
regressao_logistica.fit(treino, classe_treino)
acuracia = regressao_logistica.score(teste, classe_teste)
print(acuracia)

ValueError: ignored

In [9]:
print("Negativa \n")
print(resenha.text_pt[189])

Negativa

Este é sem dúvida o pior filme que eu já vi. E acredite em mim, eu vi muitos filmes. A reviravolta inacreditável que o filme faz - passando de um extremamente mau filme "Formas de vida alienígenas habitam a terra", com um filme que tenta espalhar um arquicristiano "O dia do julgamento está próximo, buscar Jesus ou queimar por toda a eternidade em as dívidas ardentes do inferno "mensagem - deixou-me atordoado depois de ter sido atormentado por 85 minutos. Até mesmo os cristãos religiosos devem se envergonhar ou ficar furiosos ao ver suas crenças postadas dessa maneira. Eu não sabia o que fazer comigo quando assisti a atuação horrível que poderia ter sido realizada por crianças de 7 anos de idade. Simplesmente repugnante. Eu não sou cristão nem muito religioso. Mas se eu estivesse, não teria mais medo do Inferno. Rich Christiano mostrou ser algo muito pior.

In [10]:
print("Positivo \n")
print(resenha.text_pt[49002])

Positivo

Crescendo em Nova York no final dos anos 80 e início dos anos 90, posso dizer pessoalmente que este é um dos documentários mais importantes feitos para cobrir esse lugar neste período de tempo. Não Madonna não veio com a idéia de Voguing, mas é de onde ela tirou! Em vez de combater a violência uns dos outros ou em brigas de gato, o voguing permitia que as pessoas "lutassem" dentro dos confins de tudo, menos que tocassem umas às outras, o que justificaria uma desqualificação automática. Vendo este tipo de extraordinariamente talentosas / bem orquestradas "jogadas" nos clubes foi nada menos do que espetacular e todos os grandes nomes de antigamente estão aqui ... Pepper La Beija, Paris Duprée, Xtragavaganza, etc. ..tudo comemorado nos gostos de peças de época como a música de Malcom McLarens "Deep in Vogue" ... não importava quem você era, ou de onde você era porque quando você passava por aquelas portas nesse "reino mágico" de De certa forma, você se tornou parte de algo maior que você / você era importante / e, o mais importante, a criação de seus próprios movimentos e imaginação ... e qualquer pessoa de qualquer lugar poderia se tornar Rei ou Rainha como poderia ter sido. As palavras e inteligência eram tão afiadas quanto os movimentos no chão. Toda a tensão, excitação e magia dessa energia urbana de NYC é capturada neste filme. BRILHANTE!!! POR FAVOR, LIBERE EM DVD para o mundo ver !!! Obrigado!

In [11]:
print(resenha.sentiment.value_counts())

neg    24765
pos    24694
Name: sentiment, dtype: int64

In [12]:
resenha.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [14]:
classificacao = resenha["sentiment"].replace(["neg", "pos"], [0, 1])

In [16]:
resenha["classificacao"] = classificacao

In [17]:
resenha.head()

   id  ... classificacao
0   1  ...             0
1   2  ...             0
2   3  ...             0
3   4  ...             0
4   5  ...             0

[5 rows x 5 columns]

In [19]:
resenha.tail()

          id  ... classificacao
49454  49456  ...             1
49455  49457  ...             1
49456  49458  ...             1
49457  49459  ...             1
49458  49460  ...             1

[5 rows x 5 columns]

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

texto = ["Assisti um filme ótimo", "Assisti um filme ruim"]

vetorizar = CountVectorizer(lowercase = False)

bag_of_words = vetorizar.fit_transform(texto)

In [26]:
vetorizar.get_feature_names()

['Assisti', 'filme', 'ruim', 'um', 'ótimo']

In [23]:
bag_of_words

<2x5 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [33]:
matriz_sparce = pd.DataFrame.sparse.from_spmatrix(bag_of_words, columns = vetorizar.get_feature_names())

In [34]:
matriz_sparce

   Assisti  filme  ruim  um  ótimo
0        1      1     0   1      1
1        1      1     1   1      0

In [36]:
vetorizar = CountVectorizer(lowercase = False, max_features = 50)
bag_of_words = vetorizar.fit_transform(resenha.text_pt)
print(bag_of_words)

  (0, 48)	2
  (0, 47)	3
  (0, 19)	1
  (0, 34)	2
  (0, 27)	4
  (0, 24)	2
  (0, 8)	4
  (0, 36)	7
  (0, 7)	4
  (0, 29)	3
  (0, 18)	3
  (0, 30)	4
  (0, 26)	2
  (0, 4)	2
  (0, 9)	2
  (0, 45)	1
  (0, 35)	2
  (0, 11)	1
  (0, 5)	1
  (0, 1)	1
  (0, 40)	1
  (0, 41)	1
  (0, 31)	1
  (0, 39)	1
  (0, 32)	1
  :	:
  (49457, 0)	1
  (49457, 3)	2
  (49457, 6)	1
  (49458, 48)	5
  (49458, 47)	4
  (49458, 8)	3
  (49458, 36)	3
  (49458, 7)	11
  (49458, 30)	3
  (49458, 1)	1
  (49458, 31)	2
  (49458, 33)	2
  (49458, 20)	1
  (49458, 43)	1
  (49458, 38)	1
  (49458, 13)	2
  (49458, 49)	1
  (49458, 37)	1
  (49458, 25)	2
  (49458, 12)	1
  (49458, 46)	2
  (49458, 3)	1
  (49458, 6)	1
  (49458, 2)	1
  (49458, 22)	1

In [40]:
def classificar_texto(texto, coluna_texto, coluna_classificacao):
  vetorizar = CountVectorizer(lowercase = False, max_features = 50)
  bag_of_words = vetorizar.fit_transform(texto[coluna_texto])

  treino, teste, classe_treino, classe_teste = train_test_split(bag_of_words, texto[coluna_classificacao], random_state = 42)

  regressao_logistica = LogisticRegression(solver = 'lbfgs')
  regressao_logistica.fit(treino, classe_treino)
  return regressao_logistica.score(teste, classe_teste)

print(classificar_texto(resenha, "text_pt", "classificacao"))

0.6583097452486858